section{
    .header__container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 2rem;
        text-align: center;
        height: 100%;
        position: relative;
        h5{
            margin-bottom: 25px; 
        }
        /*====CTA ======*/
        .cta{
            display: flex;
            gap: 1rem;
            justify-content: center;
        }
         /*====SOCIALS ======*/
        .header__socials{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 0.8rem;
            position: absolute;
            left: -2rem;
            
            &::after{
                content: "";
                width: 2px;
                height: 2rem;
                background-color: var(--color-primary);
            }
        }
          /*====Author ======*/
          .me{
            background: linear-gradient(var(--color-primary-variant), transparent);
            width: 24rem;
            height: 24rem;
            overflow-y: hidden;
           
            border-radius: 50%;
            padding: 5rem 2rem 0 0;
            img{
             transform: scale(1.4);
             
              mix-blend-mode:overlay;
            }
          }
          .scroll__down{
            position: absolute;
            right: -5rem;
            bottom: -3rem;
            transform: rotate(90deg);
            display: flex;
            font-weight: 300;
            font-size: 0.9rem;
            span{
                margin-left: 10px;
            }
          }
    }
}


/* ===========Medium devices ===========*/

@media screen and (max-width:1024px) {
  .header__container{
    flex-direction: column;
    padding: 0 2rem;
  }
  }
  
  /* ===========Mobile devices ===========*/
  
  @media screen and (max-width:600px) {
    section{
      
      .header__container{
        .me{
          margin: 4rem 1rem;;
        }
        .header__socials, .scroll__down{
            display: none;
        }
      }
    }
   
  }
